<section>
  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>
    <div class="icon-browser">{%include icons/icon-browser.html%}</div>
    <div class="icon-mouse">{%include icons/icon-mouse.html%}</div>
    <div class="icon-rocket">{%include icons/icon-rocket.html%}</div>
    <div class="icon-cog">{%include icons/icon-cog.html%}</div>

  </div>

  <div class="blurb">
    <p><strong>In pellentesque faucibus vestibulum.</strong> Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit.
      Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu.
       Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat
    </p>
  </div>

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Organisation</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Troubleshooting</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Analytical</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Teamworking</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">UX Design</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Programming</div>
      <div class="skill-icons">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

  </div>
</section>
